<div class="row">
            <div class="col-12">
                <div class="tm-main-bg"></div>        
            </div>
        </div>
        
        <!-- Main -->
        <main>
            <!-- Welcome section -->
            <section class="tm-welcome">
                <div class="row">
                    <div class="col-12">
                        <h2 class="tm-section-header tm-header-floating">{{pageText}}</h2>         
                    </div>
                </div>
                
                <div class="row tm-welcome-row">
                    <article class="col-lg-6 tm-media">
                        <img src="img/education.png" alt="Welcome image" class="img-fluid tm-media-img" />
                        <div class="tm-media-body">
                            <a href="#" class="tm-article-link"><h3 class="tm-article-title text-uppercase">Education</h3></a>
                            <p>{{education}}</p>
                        </div>
                    </article>
                    <article class="col-lg-6 tm-media">
                        <img src="img/skills.png" alt="Welcome image" class="img-fluid tm-media-img" />
                        <div class="tm-media-body">
                            <a href="#" class="tm-article-link"><h3 class="tm-article-title text-uppercase">SKills</h3></a>
                            <p>{{skills}}</p>
                        </div>
                    </article>
                    <article class="col-lg-6 tm-media">
                        <img src="img/family.png" alt="Welcome image" class="img-fluid tm-media-img" />
                        <div class="tm-media-body">
                            <a href="#" class="tm-article-link"><h3 class="tm-article-title text-uppercase">Personal</h3></a>
                            <p>{{family}}</p>
                        </div>
                    </article>
                    <article class="col-lg-6 tm-media">
                        <img src="img/futureplan.png" alt="Welcome image" class="img-fluid tm-media-img" />
                        <div class="tm-media-body">
                            <a href="#" class="tm-article-link"><h3 class="tm-article-title text-uppercase">Future Plans</h3></a>
                            <p>{{future}}</p>
                        </div>
                    </article>
                </div>
            </section>
  
                
            </section>
        </main>